table tr td,
body {
	font-size: 9pt;
}

#loginbar {
	display: block;
	width: 100%;
	background-color: #aaa;
}

div.actionBox {
	margin-left: 5px;
	display: inline;
	font-size: 80%;
	background-color: #aaa;
}

.hide {
	display: none;
}

div.actionBox span {
	display: none;
}
div.actionBox:hover span {
	display: inline;
}

span.message { 
	color: green;
}

span.error {
	color: red;
}

#application ul#running-projects {
	list-style: none;
}


#application ul#running-projects li span.description {
	font-style: italic;
}

#application ul#running-projects li span.description:before {
	content: open-quote;
}

#application ul#running-projects li span.description:after {
	content: close-quote;
}

#application ul#running-projects li span.date {
	font-weight: bold;
}

#application ul#running-projects li,
#application ul#other-projects li {
	display:block;
	background-color: #ddd;
	border-radius: 7px;
	font-size: 120%;
	margin-bottom: 10px;
	padding: 15px;
}

li.start_project {
	cursor: pointer;
}

table.overview {
	border-collapse: collapse;
}

table.overview, table.overview th, table.overview td {
	border: 1px solid #666;
	padding: 2px 3px;
}

table.overview th.spent, table.overview td.spent {
	text-align: right;
}